<html>
    <head>
        <title>테스트</title>
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    </head>
    <body>
        <div id="components-demo">
            <!-- resuable -->
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>

        <div id="blog-post-demo">
            <blog-post
                v-for="post in posts"
                v-bind:key='post.id'
                v-bind:title='post.title'
            ></blog-post>
        </div>

        <div id="blog-posts-events-demo">
            <div :style="{ fontSize: postFontSize + 'em'}">
                <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    @enlarge-text="postFontSize += 0.1"
                ></blog-post>
            </div>
        </div>

        <div id="custom-input-demo">
            <custom-input v-model="searchText"></custom-input>
            <div>{{searchText}}</div>
        </div>
        <div id="alert-demo">
            <alert-box>Something bad happend</alert-box>
        </div>

        <div id="tabs-demo">
            <tab-button 
                v-for="(tab, index) in tabs"
                :key="index"
                :tabname="tab"
                :settab="setCurrentTab"
            ></tab-button>
            <tab-content
                :currenttab="currentTab"
            ></tab-content>
        </div>

        <script src="index.js"></script>

        
    </body>
</html>