<html>
    <head>
        <title>테스트</title>
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    </head>
    <body>
        <div id="components-demo">
            <!-- resuable -->
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>

        <div id="blog-post-demo">
            <blog-post
                v-for="post in posts"
                v-bind:key='post.id'
                v-bind:title='post.title'
            ></blog-post>
        </div>

        <div id="blog-posts-events-demo">
            <div :style="{ fontSize: postFontSize + 'em'}">
                <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    @enlarge-text="postFontSize += 0.1"
                ></blog-post>
            </div>
        </div>

        <script src="index.js"></script>

        
    </body>
</html>